@charset "ISO-8859-1";
html *{
	font-family: Verdana, sans-serif;
}
body{
  margin-top:0;
  margin-left:0;
  margin-right:0;
  background-color: #00AFC1;
  text-align: center;
  vertical-align: middle;
}

input {
   margin-bottom: 10px;
   border-radius: 8px;
   padding: 5px 10px 5px 10px;
 }
.padding20{
	margin-bottom: 20px;
}
.padding50{
	margin-bottom: 50px;
}
.topnav .logo{
	padding: 5px 5px 5px 5px;
}

/* Add a black background color to the top navigation */
.topnav{
  margin-top:0;
  background-color: #090910;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {

background-color: #ddd;
color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  overflow: hidden;
}


/* The Modal (background) */
.modal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.itemBox{
	border-color:#FAF5E4;
	border-radius: 25px;
	margin-left:100px;
	margin-right:100px;
	padding: 20px 50px 50px 50px;
	text-align:center;
	border: 2px solid #005555;
}

.detailBox{
	margin-left:100px;
	margin-right:100px;
	padding: 30px 50px 400px 50px;
	text-align:center;
	border: 2px solid black;
}
.search{
	margin-top:100px;
}
.searchButton{
	font-weight: bold;
	background-color:#F8B400;
	margin-left:-30px;
	height:45px;
	width:100px;
	background-color:#004080 ;
}
.searchBar{
	border-radius: 10px;
	height: 30px;
	width: 60%;
	padding-left: 10px;
	font-size: 16px;
}

.items li{
	
	color:white;
	display:inline;
	padding: 40px;
	margin-bottom:0px;
	margin-left:30px;
	
}
.items th{
	
	color:#F8B400;
	font-weight: bolder;
	text-align:right;
	padding:0px 30px 20px 70px;
	margin-top:10px;
	
}
.items hr{
	
 	display: block; height: 1px;
    border: 0; 
    border-top: 1px solid #141E27;
	margin-bottom:10px;
}
.headers{
	margin-left:40px;
	text-algin:center;
	border:none;
}

.iteminputs input{
	border-radius:25px;
	text-align:center;
	width:200px;
	height:30px;
	margin-bottom:20px;
	margin-top:10px;
	color:#000000;
	
}
.iteminputs label{
	margin-bottom:20px;
}
.bidbutton{
	
	margin-top:50px;
	margin-bottom:0;
	
}
.bb{
 padding: 1.3em 3em;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color: #fff;
 border: none;
 border-radius: 45px;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
}
.bb:hover {
 background-color: #F8B400;
 box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
 color: #fff;
 transform: translateY(-7px);
}

.bb:active {
 transform: translateY(-1px);
}

.pageNum{
	background-color:#004080;
	color: white;
	padding: 10px;
	outline: 2px solid black;
}
.pageNum:hover{
	background-color: white;
	color: black;
}

.QnAouter{
	text-align: left;
	padding: 20px;
	background-color: white;
}

.QnAquestion{
	padding-bottom: 0px;
	padding-left:10px;
	display: flex;
	background-color: #d9d9d9;
	margin-bottom: 0px;
	outline: 1px solid #9f9f9f;
}
.qBy{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.QnAanswer{
	padding-top: 2px;
	display: flex;
	padding-left:40px;
	padding-bottom: 2px;
	outline: 1px solid #9f9f9f;
	display: block;
	background-color: #bcbcbc;	
}
.qButtonDiv{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:47%;
}
.historyDiv{
}
.historyTable{
	width: 500px;
	margin: auto;
}
